.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  color: #181e4b;
  text-align: center;
  font-family: Volkhov;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  color: #343434;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  text-transform: capitalize;
}

.lsItem > input {
  color: rgba(0, 0, 0, 0.26);
  font-family: Poppins;
  font-size: 12px;
  height: 30px;
  border: none;
  padding: 5px;
}

.lsItem > span {
  color: #122526;
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #122526;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  background-color: #df6951;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.listResult {
  flex: 3;
}
